<div class="mb-3 card-wrapper" [@fade]>
  <div class="bg-image hover-overlay ripple text-center" data-mdb-ripple-color="light">
    <img [src]="avatar" class="img-fluid" />
    <a>
      <div class="mask"></div>
    </a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="card-title col-12 text-truncate">
        {{login}}
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-truncate">
        <a [href]="github" target="_blank" class="card-text github">{{github}}</a>
      </div>
    </div>

    <p class="card-text score">
      Score: {{score | number : '1.1-1'}}
    </p>
    <div class="btn-wrapper">
      <button class="btn w-100" (click)="openModal()">VER MAIS</button>
    </div>
  </div>
</div>
