.card-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  color: var(--dark-shades);
}

.card-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;

}

.bg-image{
  height: 130px;
}

.card-body{
  height: 143px;
}

.mask{
  background-color: rgba(251, 251, 251, 0.15);
}

.github {
  color: var(--secondary-plus-1);
 
}

.score {
  color: var(--dark-accent);
}

.btn-wrapper {
  width: 100%;

  button {
    color: white;
    background-color: var(--primary-0);
    border-radius: 20px;
  }
}
