<footer class="text-center text-lg-start d-flex align-items-center justify-content-center">
  <div class="text-center">Developed by <a href="https://github.com/stefaniojr" target="_blank">Stefânio Jr.</a> ❤️
    23/10/2021</div>
</footer>
