footer{
    height: 36px;
    background-color: white;
    box-shadow: 0px -4px 4px rgba(47, 37, 68, 0.15);

    div{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.41px;
        color: var(--dark-accent);
        text-align: center;
        padding: 0;
    }
}