<div class="top-bar row m-0 align-items-center justify-content-center">

  <div class="col-lg-1 text-center">
    <a href="/">
      <img src="./../../../assets/logotype.png" alt="">
    </a>
  </div>
  <div class="col-lg-11">

    <ng-content select="[slot=start]"></ng-content>
  </div>
</div>
