button{
    background-color: var(--primary-0);
    color: white;
}

.top-bar{
    box-shadow: 0px 4px 4px rgba(47, 37, 68, 0.15);
    height: 56px;
    background-color: white;

    img{
        width: 78px;
        padding: 5px;
    }
}
