.modal-body {
  img {
    width: 266px;
    border-radius: 10px;
  }

  @media screen and (max-width: 1020px) {
    img {
      width: 150px;
      border-radius: 10px;
    }
  }
}

.name {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
}

.info-wrapper {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
}

.title {
  color: var(--dark-shades);
}

.info,
a {
  color: var(--dark-accent);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.outline {
  border-color: var(--primary-0);
  color: var(--primary-0);
}


.outline:hover {
  background-color: var(--primary-0);
  color: white;
}
