<div *ngIf="user">
  <div class="modal-body row">
    <div class="col-md-4 justify-content-center text-center">
      <img [src]="avatar" alt="Foto de perfil">
    </div>
    <div class="col-md-8 container">
      <div class="row ml-2" *ngIf="name">
        <div class="info-wrapper">
          <div class="name">{{name}}</div>
          <hr>
        </div>
      </div>

      <div class="row mr-2 ml-2">
        <div class="info-wrapper col-md-6">
          <div class="title">Username:</div>
          <div class="info">{{login}}</div>
        </div>
  
        <div class="info-wrapper col-md-6 text-right">
          <div class="title">Seguindo:</div>
          <div class="info">{{following}}</div>
        </div>
      </div>

      <div class="row mr-2 ml-2">
        <div class="info-wrapper col-md-6">
          <div class="title">Cadastrado(a):</div>
          <div class="info">{{date | date: 'dd/MM/yyyy'}}</div>
        </div>
  
        <div class="info-wrapper col-md-6 text-right">
          <div class="title">Seguidores:</div>
          <div class="info">{{followers}}</div>
        </div>
      </div>

      <div class="row ml-2">
        <div class="info-wrapper col-md-12">
          <div class="title">URL:</div>
          <div class="info"><a [href]="url" target="_blank">{{url}}</a></div>
        </div>
      </div>

      <div class="row mr-2">
        <div class="info-wrapper col-md-12 text-right">
          <button type="button" class="btn outline" (click)="modalRef.close()">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
