:root {
  /** primary **/
  --primary-minus-1: #AD86D3;
  --primary-0: #8C56C2;
  --primary-plus-1: #784AA6;

  /** secondary **/
  --secondary-minus-1: #4BF1FE;
  --secondary-0:  #03ECFE;
  --secondary-plus-1: #03CADA;

  /** shades and accents **/
  --light-shades: #F1F1EF;
  --light-accent: #A99FAA;
  --dark-accent: #7B6490;
  --dark-shades: #2F2544; 
  --lines: #E1DFE0; 

}
