.modal-body {
  img {
    width: 250px;
  }
}

.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 21.09px;
  color: var(--dark-shades);
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 16.41px;
  color: var(--dark-accent);
}

.outline {
  border-color: var(--primary-0);
  color: var(--primary-0);
}


.outline:hover {
  background-color: var(--primary-0);
  color: white;
}
