<div class="modal-body container">
  <div class="row text-center">
    <div class="col-md-12">
        <img src="./../../../assets/undraw_warning_cyit.svg" alt="">
    </div>
    
  </div>
  <div class="row m-3 text-center">
    <div class="col-md-12">
        <div class="title">Algo deu errado! :(</div>
        <hr>
        <div class="subtitle">Tente novamente mais tarde...</div>
    </div>
    
  </div>
  <div class="row m-3 text-center">
      <div class="col-md-12">
        <button type="button" class="btn outline" (click)="modalRef.close()">
            Fechar
          </button>
      </div>
    
  </div>

</div>
