<app-header>
  <ng-container slot="start">
    <div class="input-group">
      <input type="search" class="form-control rounded" placeholder="Pesquisar" aria-label="Search"
        (keyup)="filter($event)" />
    </div>
  </ng-container>

</app-header>
<div *ngIf="!results" class="d-flex justify-content-center align-items-center no-search-screen">
  <img src="./../../assets/logotype_shadow.png" alt="">
</div>
<div class="results-wrapper" *ngIf="!isLoading && results">
  <div class="results-title">Resultados para: {{resultsTo}}</div>
  <hr>
  <div class="cards d-flex justify-content-center">
    <div *ngFor="let item of users" class="card">
      <app-card [avatar]="item.avatar_url" [login]="item.login" [github]="item.html_url" [score]="item.score">
      </app-card>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="d-flex justify-content-center mt-5">
  <div class="spinner-border" role="status">
  </div>
</div>

<app-footer class="text-align"></app-footer>
