app-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.no-search-screen {
  background-color: #F1F1EF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: -1000;
  min-height: calc(100% - 56px);

  img{
    width: 45vw;
  }
}

.results-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: var(--dark-shades);
}

/* medium screens */
@media screen and (min-width: 0px) {
  .results-wrapper {
    margin: 50px 25px 50px 25px;
  }
}

/* small screens */
@media screen and (min-width: 960px) {
  .results-wrapper {
    margin: 50px 150px 50px 150px;
  }
}

/* big screens */
@media screen and (min-width: 1570px) {
  .results-wrapper {
    margin: 50px 470px 50px 470px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 5px;
}

.card {
  display: flex;
  padding: 0;
  margin: 5px;
  border-radius: 10px;

  @media(min-width: 40rem) {
    width: 45%;
  }

  @media(min-width: 56rem) {
    width: 30%;
  }

  @media(min-width: 65rem) {
    width: 23%;
  }
}

.spinner-border {
  color: var(--primary-0);
}
